{{define "base"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aarav - {{template "title" .}}</title>
    <link rel="stylesheet" href="../static/css/common.css">
    {{template "stylesheet" .}}   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J9FT2SP091"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-J9FT2SP091');
</script>
<body>
    <div class="content-wrap">
        <header>
            <div class="title">
                <a href="/">
                    <h1>Aarav </h1>
                </a>
            </div>
            <div class="links">
                <a href="/" class="home-link">Home</a>
                <a href="/projects" class="projects-link">Projects</a>
                <a href="/contact" class="contact-link">Contact</a>
            </div>
        </header>

        <section class="section">
            {{template "body" .}}
        </section>
    </div>
    {{template "footer" .}}
</body>

</html>

{{end}}