{{define "footer"}}
<footer>
    <a href="https://github.com/AaravSibbal" target="_blank">
        <img src="../static/images/github-mark-white.png" alt="Github Logo">
    </a>
    <a href="https://dev.to/aaravsibbal" target="_blank">
        <img src="../static/images/dev-black.png" alt="Dev.to logo">
    </a>
    <a href="https://www.linkedin.com/in/aarav-sibbal-65a259275/" target="_blank">
        <img src="../static/images/In-White-128.png" alt="Linkedin Logo">
    </a>
</footer>
{{end}}