{{define "footer"}}
<footer>
    <a href="https://github.com/AaravSibbal" target="_blank">Github</a>
    <a href="https://dev.to/aaravsibbal" target="_blank">Blog</a>
    <a href="https://www.linkedin.com/in/aarav-sibbal-65a259275/" target="_blank">
        Linkedin
    </a>
</footer>
{{end}}