{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "stylesheet"}}
    <link rel="stylesheet" href="../static/css/home.css">
{{end}}

{{define "body"}}
    <div class="thing">
        <p>
            I am a backend developer, currently based in Ottawa.
            I am a student at Carleton University doing Computer Science.
            I like making tools that make my life easier and
            I like writing about things that were hard for me to figure out.
        </p>
    </div>
{{end}}