{{template "base" .}}

{{define "title"}}Projects{{end}}
{{define "body"}}    
    <p>There are my wonderful projects that I have made</p>
    <ul>    
        <li>snippetbox</li>
        <li>Resell Goat</li>
        <li>Titanic Survivor Predictor</li>
        <li>Portfolio</li>
    </ul>

{{end}}