.section {
    /* align-self: center; */
    font-size: 2em;
} 
 

@media (min-width:600px) {
    .thing {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (min-width:1025px) {
    .thing {
        margin-left: 30%;
        margin-right: 30%;
    }
}